<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Twitter competitions - free and easy</title>
  </head>
  <body>
    <div class="container">
       <h1>Twittercomp</h1>

      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="field form-group">
    <!--      <h3>Tweet URL</h3> -->
          <input
            type="text"
            name="tweet"
            placeholder="Tweet URL"
            style="width:100%; font-size: 1.2rem; padding: 0.4rem;"      
          />
        </div>
        <div class="field form-group">
         <!-- <h3>Number of winners</h3> -->
          <input
            type="number"
            name="numberWinners"
            min="1"
            max="100"
            style="width:100%; font-size: 1.2rem; padding: 0.4rem;"     
            placeholder="Number of winners"
          />
        </div>

                <input type="submit" value="Get lucky winners" class="btn" />
      </form>
        

        
    </div>
  </body>
</html>